this file name should be changed to .env
this file is used for saving environment variables

following env variables are really important to store in this file

MONGODB_URI=<put your mongodb uri here remove the angular brackets>
API_SECRET=<create a string for creation of jwt>
EMAIL_ID=<your email id>
EMAIL_SECRET=<your email secret>
